{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <main>
        <div>
            <h1>My lists</h1>
            <table>
                <tr>
                    <th style="width:20%">Name</th>
                    <th >Number of items</th>
                </tr>
                {% for lists in todolists %}
                <tr>
                    <td>{{ lists.name }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </main>
        <footer>
        </footer>
</body>
</html>
